body
{
    background-image:url('tile.jpg');
    background-color:black;
}

#container
{
    margin:auto;
    width:900px;
}

#gamecanvas
{
    background-image:url('../pics/cave.jpg');
    width:900px;
    height:600px;
}

h1
{
    display:none;
}

